.list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1em;
  padding: 20px;
  
}
.card{
  width: 30%;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center ;
  background-color: cadetblue;

}